<div class="chat-img-container">
  <img [src]="url" *ngIf="url" />
  <span
    *ngIf="
      getMessageType(message.type) === 'image/png' ||
      getMessageType(message.type) === 'image/jpeg'
    "
    (click)="downloadFile($event, url, message.content)"
  >
    <i class="fa-solid fa-download"></i
  ></span>
</div>
<p
  *ngIf="message.type === 'contact'"
  class="contact"
  [class]="getMessageClass(message)"
>
  <span> {{ FileContact.name }}</span>
  <span> {{ FileContact.mobile }}</span>
</p>
<div
  *ngIf="getMessageType(message.type) === 'application/pdf'"
  (click)="downloadFile($event, url, message.content)"
>
  <iframe [src]="safeurl" width="100%" title="PDF Viewer"></iframe>
</div>
