h1 {
  text-align: center;
}
.Back {
  text-align: end;
  margin: 0 24px;
  .view_btns {
    button {
      padding: 5px 10px;
      border: 0;
      border-radius: 5px;
      background: rgb(179 145 174 / 85%);
      color: #fff;
      margin: 0 8px;
    }
  }
}
.selected_color {
  background: #614bf1d9 !important;
}

.Main-ViewRequest {
  display: flex;
  margin-top: 17px;

  .ChatRequest {
    width: 100%;
    box-shadow: 0 0 5px;
    border-radius: 7px;
    margin: 0 0 0 21px;
    height: 550px;
    overflow: auto;

    h1 {
      text-align: center;
      padding: 6px 0;
      text-decoration: underline;
    }
  }

  .TicketREquest {
    width: 100%;
    box-shadow: 0 0 5px;
    border-radius: 7px;
    margin: 0 12px 0 16px;
    height: 550px;
    overflow: auto;

    h1 {
      text-align: center;
      padding: 6px 0;
      text-decoration: underline;
    }
  }
}

ol {
  margin: 10px;

  li {
    border-bottom: 1px solid darkgray;

    .message {
      div {
        display: block;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .isPending {
        margin: 6px 0;
      }

      p {
        margin: 0;

        span {
          display: block;
          margin: 0;
        }
      }

      span {
        margin: 0 36px 0 0;
      }
    }
  }
}
