.main-container {
  background-color: #1b2a47;
  color: #fff;
  padding-top: 60px;
  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #1b2a47;
  }
  .nav-section {
    width: 250px;
    display: block;
  }
  .info-section {
    width: calc(100% - 250px);
    overflow: auto;
    background-color: #152035;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    padding-top: 92px;
    .main-board-content {
      // position: relative;
      .nav-section {
        display: none;
      }
      .nav-section.collapsed {
        display: block;
        // position: absolute;
        position: fixed;
        background: #1b2a47;
        z-index: 9;
        top: 92px;
        left: 0;
        bottom: 0;
        transform: translateX(0);
        animation-name: slideIn;
        animation-duration: 2s;
      }

      @keyframes slideIn {
        from {
          transform: translateX(-250px);
        }
        to {
          transform: translateX(0);
        }
      }

      .info-section {
        width: 100%;
      }
    }
  }
}
