.background {
  background-color: lightgoldenrodyellow;
  min-height: 100vh;
  .wrapper {
    width: 45%;
    margin: auto;
    .mat-form-field {
      width: 50%;
    }
    .mat-mdc-card {
      position: relative;
      width: 45%;
    }

    .eye-one {
      position: relative;
      right: 18px;
      margin-top: 38px;
    }
    .eye-two {
      position: relative;
      right: 18px;
    }
  }
}
