<div class="background">
  <button class="btn btn-danger mt-2 ms-3" (click)="goback()">Go Back</button>
  <div class="wrapper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="emailForm">
        <mat-card *ngIf="emailForm">
          <mat-card-header>
            <mat-card-title>Forgot Password </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="emailForm">
              <ng-template matStepLabel>Verify Mail</ng-template>
              <mat-form-field appearance="outline" class="mt-3">
                <mat-label>User Id or Email</mat-label>
                <input
                  matInput
                  placeholder="Enter UserId or Email"
                  formControlName="userid"
                  required
                  appAutofocus
                />
              </mat-form-field>
              <div class="text-danger" *ngIf="errorMesg">{{ errorMesg }}</div>
              <br />
              <div>
                <button (click)="verifymail(stepper)" class="btn btn-primary">
                  {{ isMail ? "Submit" : "Loading.." }}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step [stepControl]="otpForm">
        <mat-card *ngIf="otpForm">
          <mat-card-header>
            <mat-card-title>Forgot Password </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="otpForm">
              <ng-template matStepLabel>Verify Otp</ng-template>
              <mat-form-field appearance="outline" class="mt-3">
                <mat-label>Otp</mat-label>
                <input
                  matInput
                  placeholder="Enter Your Otp"
                  formControlName="otp"
                  required
                  appAutofocus
                />
              </mat-form-field>
              <div class="text-danger" *ngIf="otpError">{{ otpError }}</div>
              <br />
              <div>
                <button class="btn btn-primary" (click)="verifyOtp(stepper)">
                  {{ isOtp ? "Verify Otp" : "Loading.." }}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step [stepControl]="passwordForm">
        <ng-template matStepLabel>Update Password</ng-template>
        <form [formGroup]="passwordForm">
          <div class="d-flex">
            <mat-form-field>
              <input
                [type]="showpassword === true ? 'text' : 'password'"
                matInput
                placeholder="New Password"
                formControlName="newpassword"
                autocomplete="on"
                required
              />
            </mat-form-field>
            <span (click)="togglePassword()" *ngIf="showpassword">
              <i class="fa-regular fa-eye eye-one"></i
            ></span>
            <span (click)="togglePassword()" *ngIf="!showpassword">
              <i class="fa-regular fa-eye-slash eye-one"></i
            ></span>
          </div>
          <div
            class="text-danger"
            *ngIf="submitted && newpassword.errors?.['required']"
          >
            New Password is required
          </div>
          <mat-form-field d-flex>
            <input
              [type]="showpassword2 === true ? 'text' : 'password'"
              matInput
              placeholder="Confirm Password"
              formControlName="confirmpassword"
              autocomplete="on"
              required
            />
          </mat-form-field>
          <span (click)="togglePasswordtwo()" *ngIf="showpassword2">
            <i class="fa-regular fa-eye eye-two"></i
          ></span>
          <span (click)="togglePasswordtwo()" *ngIf="!showpassword2">
            <i class="fa-regular fa-eye-slash eye-two"></i
          ></span>
          <div *ngIf="submitted && newpassword.value !== confirmpassword.value">
            password not match
          </div>
          <div
            class="text-danger"
            *ngIf="submitted && confirmpassword.errors?.['required']"
          >
            Confirm Password is required
          </div>
          <div>
            <button class="btn btn-primary" (click)="updatePassword(stepper)">
              Update Password
            </button>
            <button
              matStepperNext
              class="btn btn-danger ms-2"
              (click)="goback()"
            >
              Go Back
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
