.tickets-main-section {
  padding: 20px;

  .tickets-head {
    padding: 10px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    margin-bottom: 20px;
    gap: 10px;

    .header-form-fields {
      gap: 10px;
      flex-direction: column;

      .dropdown-list {
        gap: 10px;
      }

      .search,
      .dropdown {
        min-width: fit-content;

        label {
          display: block;
          margin-bottom: 4px;
          font-weight: bold;
        }
      }

      .dropdown {
        mat-form-field {
          ::ng-deep div {
            padding: 0;

            &:nth-last-child(1) {
              height: 0;
            }

            .mat-mdc-form-field-infix {
              padding: 6px 12px;
              min-height: 38px;
            }
          }
        }
      }
    }

    .tickets-btn-group {
      gap: 10px;
    }
  }

  .hide {
    display: none;
  }
}
