<div class="ticket-description-container" *ngIf="description">
  <button (click)="goback()" class="btn btn-danger back">Go To Back</button>
  <div class="client-details">
    <div class="client-head d-flex align-items-center justify-content-between">
      <h1>Ticket Description</h1>
      <div *ngIf="CurrentUser.isAdmin" class="client-btn-group d-flex">
        <button class="btn btn-primary back" (click)="ConvertToExcel()">
          Convert Excel
        </button>
        <button class="btn btn-primary back" (click)="SendMail()">
          Send Mail
        </button>
      </div>
    </div>
    <div class="client-details-list">
      <p><label>Client Name :</label>{{ description.client.name }}</p>
      <p><label>UserName :</label>{{ description.user.name }}</p>
      <p><label>Technology :</label>{{ description.technology }}</p>
      <p><label>Status :</label>{{ description.status }}</p>
      <p><label>Requirement :</label>{{ description.requirement }}</p>
      <p><label>Description :</label>{{ description.description }}</p>
      <p><label>Comments :</label>{{ description.comments }}</p>
      <p>
        <label>ReceivedDate :</label
        >{{ description.receivedDate | date: "dd/MM/yyyy hh:mm a" }}
      </p>
      <p><label>addOnResource :</label>{{ getaddonResource() }}</p>
      <div
        class="client-update-list"
        *ngFor="let updates of description.updates; let i = index"
      >
        <h3>Update {{ i + 1 }}</h3>
        <p>
          <label>Date :</label>{{ updates.date | date: "dd/MM/yyyy hh:mm a" }}
        </p>
        <p>
          <label>Description :</label>
          {{ updates.description }}
        </p>
        <p><label>Comments :</label> {{ updates.comments }}</p>
        <p><label>Status :</label> {{ updates.status }}</p>
        <p>
          <label>UpdateBy :</label>
          {{ updates.updatedBy.name }}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Send mail -->
<ng-template #sendMailModel let-d="dismiss">
  <div class="modal-header p-2 m-0 fw-bold text-bg-info fs-6">Send Email:</div>
  <div class="modal-body m-2">
    <h3>Tickets Description:</h3>
    <input
      type="text"
      class="form-control"
      [value]="CurrentUser.email"
      disabled
    />
    <textarea
      class="form-control m-2"
      rows="8"
      [value]="UpdateContent(description)"
    ></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
    <button class="btn btn-sm btn-primary" (click)="TicketsSendMail(d)">
      {{ loadingStaus ? "loading..." : "Send Mail" }}
    </button>
  </div>
</ng-template>
