.invalidInput {
  border: 1px solid red;
}
label {
  margin: 5px 0px 0 5px;
  font-weight: 500;
}
.hide {
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
