.logout-button {
  margin-top: 10px;
  display: flex;
  margin-right: 23px;
  justify-content: flex-end;
}

.drop {
  display: flex;
  justify-content: flex-end;
  margin: 14px 10px;
}

.userdashInfo {
  padding: 20px;

  .userInfo {
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    margin-top: 100px;

    .userImage {
      padding-top: 100px;
      position: relative;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: absolute;
      top: -120px;
      left: calc(50% - 100px);
    }

    .userStatus,
    .onTicket {
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      background: blue;
      top: -110px;
      left: calc(50% + 50px);
      cursor: pointer;

      &.Offline {
        background: red;
      }

      &.Sleep {
        background: rgb(128, 128, 129);
      }

      &.Break {
        background: orange;
      }

      &.Available {
        background: green;
      }
    }

    .userName {
      text-align: center;
      margin: 10px 0 0;
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
    }

    .userId {
      text-align: center;
      display: block;
      margin: 4px 0 20px 0;
      font-weight: 500;
    }

    .employeDetails {
      gap: 20px;

      .employeInfo {
        width: 50%;

        .userslabel {
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          border-bottom: 1px solid;
          padding-bottom: 4px;
          margin-bottom: 16px;
        }

        p {
          margin-bottom: 8px;

          &:nth-last-child(1) {
            margin: 0;
          }

          label {
            font-weight: 500;
            min-width: 110px;
          }
        }
      }
      .employeTimeinfo {
        width: 50%;

        .loginTime,
        .status {
          margin-bottom: 20px;

          p {
            margin-bottom: 8px;

            &:nth-last-child(1) {
              margin: 0;
            }
          }
        }

        h3 {
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          border-bottom: 1px solid;
          padding-bottom: 4px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .employeTicket {
    margin: 20px 0;
    gap: 20px;

    .pieChart,
    .timezone {
      width: 50%;
      padding: 20px;
      background: #fff;
      color: #000;
      border-radius: 12px;
      height: fit-content;

      h3 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        border-bottom: 1px solid;
        padding-bottom: 4px;
        margin-bottom: 16px;
      }

      .timezoneList {
        gap: 10px;

        .countryTime {
          width: 144px;
          flex-direction: column;
          height: 144px;
          gap: 6px;
          border-radius: 50%;
          box-shadow:
            inset 8px 8px 8px #cbced1,
            inset -8px -8px 8px #e7cfcf;

          span {
            font-size: 18px;
            line-height: 24px;
            font-weight: bold;
            margin: 0;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }

  .employeBtn {
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid;
    flex-wrap: wrap;

    .requestchat {
      width: 100%;

      mat-form-field {
        ::ng-deep div {
          padding: 0;
          border-radius: 0;

          &:nth-last-child(1) {
            height: 0;
          }

          .mat-mdc-form-field-infix {
            padding: 6px 12px;
            min-height: 38px;
          }
        }
      }

      button {
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .userdashInfo {
    .employeTicket {
      flex-wrap: wrap;

      .pieChart,
      .timezone {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .userdashInfo {
    .userInfo {
      .employeDetails {
        flex-wrap: wrap;

        .employeInfo,
        .employeTimeinfo {
          width: 100%;
        }
      }
    }
  }
}
.usersLBtimmings {
  height: 350px;
  overflow-x: auto;
  app-table {
    width: 100%;
  }
}
