<div class="userdashInfo" *ngIf="currentUser">
  <div class="userInfo">
    <div class="userImage">
      <img
        *ngIf="currentUser.profileImageUrl"
        src="{{ url }}/profile-images/{{ currentUser.profileImageUrl }}"
        crossorigin="anonymous"
        alt=""
      />
      <img
        *ngIf="!currentUser.profileImageUrl"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvEqncZEwNmacOsxcOyUMD7z2JiZF4-Z6PVRBu2KZnlxcFU5SZipi_yd4aV0kzwJL17BI&usqp=CAU"
        alt=""
        referrerpolicy="no-referrer"
        crossorigin="use-credentials"
      />
      <span
        matTooltip="{{ currentUser.status }}"
        aria-label="Displays a tooltip"
        class="userStatus"
        [ngClass]="currentUser.status"
      ></span>
      <span
        matTooltip="OnTicket"
        class="OnTicket"
        *ngIf="currentUser.status == 'On Ticket'"
      ></span>
    </div>
    <p class="userName">{{ chatservice.getFullName(currentUser) }}</p>
    <span class="userId">({{ currentUser.userId }} )</span>
    <div class="employeDetails d-flex">
      <div class="employeInfo">
        <p class="userslabel">Employeee Details</p>
        <p><label>Emp ID :</label> {{ currentUser.empId }}</p>
        <p>
          <label>Employe Name :</label>
          {{ chatservice.getFullName(currentUser) }}
        </p>
        <p><label>Email :</label> {{ currentUser.email }}</p>
        <p><label>Phone :</label> {{ currentUser.mobile }}</p>
        <p><label>Role :</label> {{ currentUser.designation }}</p>
        <p><label>Status :</label> {{ currentUser.status }}</p>
        <p><label>Gender :</label> {{ currentUser.gender }}</p>
      </div>
      <div class="employeTimeinfo">
        <div class="loginTime" *ngIf="loginTiming?.length">
          <h3>Login Time</h3>
          <div *ngFor="let logintime of loginTiming">
            <p *ngIf="logintime.date === 'Today'">
              {{ logintime.date }} :
              <span *ngFor="let time of logintime.loginTime">
                login: {{ time.inTime }} - Logout:
                {{ time.outTime ? time.outTime : "---" }}
              </span>
            </p>
          </div>
        </div>
        <div class="status" *ngIf="breakTimes">
          <h3>Break Time</h3>
          <div *ngIf="this.breakTimes.date ==='Today'">
            <p *ngFor="let status of breakTimes.status">
              <span *ngIf="status.type === 'END'"
                >Start :{{ status.startTime | date: "hh:mm a" }} - End :{{
                  status.endTime | date: "hh:mm a"
                }}
                :<b> Duration -</b>
                {{ getBreakTimings(status.duration / 60) }}mints --
                {{ status.status }}
              </span>
            </p>
          </div>
          <span *ngIf="this.breakTimes.date !=='Today'"> Today No Breaks</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around m-3" *ngIf="isAdminView">
      <div class="usersLBtimmings">
        <p class="fs-5 fw-normal">Break Timings</p>
        <app-table
          [nextpaginator]="false"
          [data]="UserBreaktimmings"
          [tableColumns]="UserBreaks"
          (nameClick)="ShowBreaks($event)"
        ></app-table>
      </div>
      <div class="usersLBtimmings">
        <p class="fs-5 fw-normal">Login Timings</p>
        <app-table
          [data]="currentUser.loginTimings"
          [tableColumns]="UserLogin"
          [nextpaginator]="false"
        ></app-table>
      </div>
    </div>
  </div>

  <div class="employeTicket d-flex">
    <div class="timezone">
      <h3>Time Zones</h3>
      <div class="timezoneList d-flex justify-content-center">
        <div
          class="countryTime d-flex align-items-center justify-content-center"
        >
          <span>PST</span>
          <p>{{ pstDate }}</p>
        </div>
        <div
          class="countryTime d-flex align-items-center justify-content-center"
        >
          <span>CST</span>
          <p>{{ cstDate }}</p>
        </div>
        <div
          class="countryTime d-flex align-items-center justify-content-center"
        >
          <span>EST</span>
          <p>{{ est }}</p>
        </div>
      </div>
    </div>
    <div class="pieChart">
      <h3>Today Tickets</h3>
      <app-pie-chart
        *ngIf="userTickets?.length"
        [pieChartId]="'piechartdemo'"
        [PieChartData]="UserPiechart"
      ></app-pie-chart>
      <p *ngIf="userTickets?.length">
        Total Tickets : {{ userTickets.length }}
      </p>
      <h2 *ngIf="userTickets.length <= 0">No Today Tickets</h2>
    </div>
  </div>
  <div class="employeBtn d-flex" *ngIf="!isAdminView">
    <button class="btn btn-info" (click)="requestChat()">
      Request Chat with User
    </button>
    <button class="btn btn-info">
      <a [routerLink]="['./user-tickets']" class="text-decoration-none"
        >Today Tickets</a
      >
    </button>
    <button class="btn btn-info">
      <a [routerLink]="['./helped-tickets']" class="text-decoration-none"
        >Helped Tickets</a
      >
    </button>
    <div class="requestchat d-flex align-items-center" *ngIf="requestchat">
      <mat-form-field>
        <mat-select
          placeholder="Select user"
          (selectionChange)="selectuser($event.value)"
        >
          <mat-option [value]="user" *ngFor="let user of userList">{{
            chatservice.getFullName(user)
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        *ngIf="requestchat"
        class="btn btn-warning admin"
        (click)="sendadmin()"
      >
        send Admin
      </button>
    </div>
  </div>
</div>

<!-- User Breaks -->

<ng-template #userDetailsModel let-d="dismiss">
  <div class="modal-header p-2 m-0">
    <h4 class="modal-title p-0 m-0 fs-5">
      Users Break Timings -- {{ BreakTimmings[0] }}
    </h4>
  </div>
  <div class="modal-body p-2 m-0">
    <app-table
      [data]="BreakTimmings[1]"
      [tableColumns]="UserBreakCoulmns"
    ></app-table>
  </div>
</ng-template>
