<nav class="navbar-btn-list" *ngIf="userDetails">
  <ng-container *ngIf="!isAdmin; else admintemplete">
    <button
    *ngFor="let userbtn of UserButtons"
    (click)="UserNavBtn(userbtn)"
    [class.active]="!dashBoardRes ? userbtn === activeButton:''"
    >
    {{ userbtn }}
    <span class="roomcount" *ngIf="roomCount > 0 && userbtn === 'Chat Box'">{{ roomCount }}</span>
  </button>
  </ng-container>
</nav>

<ng-template #admintemplete>
  <button
    *ngFor="let Adminbtn of AdminButtons"
    (click)="AdminNav(Adminbtn)"
    [class.active]="!dashBoardRes?Adminbtn === activeButton:''"
  >
    {{ Adminbtn }}
  </button>
</ng-template>

<ng-template #clientModel let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New Client</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" [formGroup]="clientForm">
          <div class="d-flex justify-content-between">
            <div>
              <label class="ps-2">First Name</label>
              <input
                type="text"
                class="form-control m-2"
                formControlName="name"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && fname.errors"
              >
                <div *ngIf="fname.errors['required']">
                  First Name is required
                </div>
              </div>
            </div>
            <div>
              <label class="ps-2">Location</label>
              <input
                type="text"
                class="form-control m-2"
                formControlName="location"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && location.errors"
              >
                <div *ngIf="location.errors['required']">
                  Location is required
                </div>
              </div>
            </div>
          </div>
          <label class="ps-2">Zone</label>
          <select class="form-control m-2" formControlName="zone">
            <option value="" disabled selected class="hide">
              Select Your Zone
            </option>
            <option *ngFor="let city of zones" [value]="city">
              {{ city }}
            </option>
          </select>
          <div class="text-danger mb-2 ps-2" *ngIf="submitted && zone.errors">
            <div *ngIf="zone.errors['required']">Zone is Required</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <label class="ps-2">Email</label>
              <input
                type="email"
                class="form-control m-2"
                formControlName="email"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && email.errors"
              >
                <div *ngIf="email.errors['required']">Email is required</div>
              </div>
            </div>
            <div>
              <label class="ps-2">Phone Number</label>
              <input
                type="text"
                (keypress)="phoneValidation($event)"
                class="form-control m-2"
                formControlName="mobile"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && mobile.errors"
              >
                <div *ngIf="mobile.errors['required']">
                  Phone Number is required
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <label class="ps-2">Technology</label>
              <input
                type="text"
                class="form-control m-2"
                formControlName="technologies"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && technologies.errors"
              >
                <div *ngIf="technologies.errors['required']">
                  Technologies is required
                </div>
              </div>
            </div>
            <div>
              <label class="ps-2">Application Type</label>
              <input
                type="text"
                class="form-control m-2"
                formControlName="applicationType"
              />
              <div
                class="text-danger mb-2 ps-2"
                *ngIf="submitted && applicationType.errors"
              >
                <div *ngIf="applicationType.errors['required']">
                  ApplicationType is required
                </div>
              </div>
            </div>
          </div>
          <label class="ps-2">Company Name</label>
          <input
            type="text"
            class="form-control m-2"
            formControlName="companyName"
          />
          <div
            class="text-danger mb-2 ps-2"
            *ngIf="submitted && companyName.errors"
          >
            <div *ngIf="companyName.errors['required']">
              ApplicationType is required
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
    <button class="btn btn-sm btn-primary" (click)="newClient(d)">
      Add New Client
    </button>
  </div>
</ng-template>

<ng-template #ticketModel let-d="dismiss">
  <div class="modal-header p-2 m-0">
    <h4 class="modal-title p-0 m-0">Create Ticket</h4>
  </div>
  <div class="modal-body m-2">
    <form [formGroup]="TicketCreationForm">
      <label class="ms-2">Client</label>
      <select
        class="form-control m-2"
        formControlName="client"
        (change)="SelectClient($event)"
      >
        <option value="" disabled selected class="hide">Select Client</option>
        <option *ngFor="let client of clientData" [ngValue]="client">
          {{ client.firstName }}
        </option>
      </select>
      <div
        class="text-danger mb-2 ps-2"
        *ngIf="submitTicketForm && clientName.errors"
      >
        <div *ngIf="clientName.errors['required']">Client Name is Required</div>
      </div>
      <label class="ms-2">Technologies</label>
      <input
        class="form-control m-2"
        type="text"
        formControlName="technologies"
      />
      <div
        class="text-danger mb-2 ps-2"
        *ngIf="submitTicketForm && tickettech.errors"
      >
        <div *ngIf="tickettech.errors['required']">Technology is Required</div>
      </div>
      <label class="ms-2">Taget Date</label>
      <input
        class="form-control m-2"
        type="date"
        formControlName="targetDate"
      />
      <div
        class="text-danger mb-2 ps-2"
        *ngIf="submitTicketForm && targetDate.errors"
      >
        <div *ngIf="targetDate.errors['required']">Target Date is Required</div>
      </div>
      <label class="ms-2">Requirment</label>
      <textarea
        class="form-control m-2"
        placeholder="Requirment"
        formControlName="description"
      ></textarea>
      <div
        class="text-danger mb-2 ps-2"
        *ngIf="submitTicketForm && description.errors"
      >
        <div *ngIf="description.errors['required']">
          description is Required
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="createTicket(d)">
      Create Ticket
    </button>
    <button class="btn btn-sm btn-danger" (click)="cancel(d)">Cancel</button>
  </div>
</ng-template>
