<div *ngIf="data" class="info">
  <div mat-dialog-title class="info-title">
    <span>
      {{ data.title }}
    </span>
    <mat-icon mat-dialog-close="true" class="color-danger">clear</mat-icon>
  </div>
  <div class="content" mat-dialog-content>
    <p [innerHTML]="data.message">{{ data.message }}</p>
  </div>
  <div class="actions" mat-dialog-actions>
    <button
      class="btn btn-sm btn-danger"
      mat-dialog-close="true"
      *ngIf="data.btn1"
    >
      {{ data.btn1 }}
    </button>
  </div>
</div>
